/* General styling for the layout */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E2D2BC;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 400px; /* Increased sidebar width */
	margin: 10px;
}

.content, .sidebar {
	margin-top: 100px;
}

.image-container {
	margin-bottom: 30px;
}

/* Styles for images */
.sidebar img {
	width: 125%;
	height: auto;
	margin-left: -35%; /* Shift the image to the left */
}
.sidebar h2 {
	width: 520px;
	margin-left: -35%; /* Shift the image to the left */
}
.content p {
	max-width: 80%; /* Match the paragraph width to the image width */
	margin: 0 auto 20px 0; /* Reduced bottom margin */
	font-weight: normal; /* Could be bold, normal, etc. */
	color: #000000; /* Change the color code to your preference */
	line-height: 1.5; /* Adjust the line height for better readability */
	font-size: 18px; /* Adjust the size as needed */
}

/* Make the first image smaller */
.content img {
	max-width: 80%; /* Adjust the max-width to make the image smaller */
	margin: 0 auto; /* Center the image */
}
.image-container a {
	color: inherit; /* Inherits the text color from the parent element */
	text-decoration: none; /* Removes the underline from the link */
}
footer {
	background-color: black;
	padding: 10px;
	color: #fff;
	bottom: 0;
	text-align: center;
	overflow-x: hidden;
}
.content h1 {
	max-width: 85%;
}


/* Media query for smaller screens */
@media (max-width: 1500px) {
	.content p {
		max-width: 100%; /* Match the paragraph width to the image width */
	}
	.container {
		grid-template-columns: 1fr;
	}

	/* Hide second and third images on smaller screens */
	.sidebar .image-container:nth-child(-n+2) {
		display: none;
	}

	/* Adjust the size of the first image for smaller screens */
	.content img {
		max-width: 100%; /* Image takes full width of the container */
		width: auto; /* Image width adjusts automatically */
	}
}
