/* Custom styles for your site */

.navbar {
	background-color: white;
    z-index: 9999;

}

.navbar-brand img {
	max-height: 40px;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	margin: 0 15px;
	color: white;
	margin-right: 105px;
}
body {
	background: rgb(226, 210, 188);
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
.social-media-buttons {
	text-align: center;
}


.container {
	color: white;
}

footer {
    background-color: black;
    padding: 10px;
    color: #fff;
    bottom: 0;
    text-align: center;
    overflow-x: hidden;

}

.blog-image {
	margin-bottom: 50px; /* Adjust the margin as needed */
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.introBox{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 5px 5px 2px;
    width: 57%;
    padding: 20px
}
.introBoxContent{
    text-align: center;
    width: 40%;
}
.freqHeader{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 45%;
}

.freqQuestions{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.card1, .card2, .card3, .card4{
    width: 300px;
    height: 300px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.cardContainer1, .cardContainer2, .cardContainer3, .cardContainer4{
    perspective: 600px;
}
.cardContainer1:hover .card1{
    cursor:pointer;
    transform: rotateY(180deg);
}

.cardContainer2:hover .card2{
    cursor:pointer;
    transform: rotateY(180deg);
}

.cardContainer3:hover .card3{
    cursor:pointer;
    transform: rotateY(180deg);
}

.cardContainer4:hover .card4{
    cursor:pointer;
    transform: rotateY(180deg);
}


.frontCard1, .backCard1,.frontCard2, .backCard2,.frontCard3, .backCard3,.frontCard4, .backCard4{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 2px black;
    position: absolute;
    backface-visibility: hidden;
    border: solid 2px black;
}

.frontCard1, .frontCard2, .frontCard3, .frontCard4{
    background: rgb(226, 210, 188);
}

.backCard1, .backCard2, .backCard3, .backCard4{
    background: rgb(226, 210, 188);
    transform: rotateY(180deg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardtext, .cardtext h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 22.5px;
    color: black;
}

.contactInformation{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    background-color: rgb(128, 128, 128);
    text-align: center;
}

.persuadingText{
    margin-top: 70px;
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 23%;
    left: 32%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    font-weight: 200;
}

.centered h1{
    font-size: 60px
}
.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideDown 0.5s;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-hidden {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slideUp 0.5s forwards;
}
.contactContainer{
    margin-top: 75px;
    width: 75%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 5px 2px;
}
.contactSubContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
}
#leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid black;
}

#submit, #reset{
    background-color: black;
    color: white;
    border-radius: 5px;
}
#submit:hover, #reset:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
