*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

navbar {
	background-color: white;
	z-index: 9999;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
.fixed-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 1000;
	transition: transform 0.3s;
}

.navbar-brand img {
	max-height: 40px;
}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
    margin: 0 15px;
    color: white;
    margin-right: 105px;
}

.container {
	color: white;
}

.container p {
	margin-bottom: 30px;
}

body {
	background-color: beige;
	overflow-x: hidden;
}

.background{
	height: 100vh;
	width: 100%;
	z-index: -1;
	position: absolute;
	background-image: url("/images/homePageShoe.jpg");
	filter:blur(5px);
}

.bodyContainer{
	backdrop-filter: blur(25px);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	z-index: 0;
}

.section1{
	display: flex;
	align-items: center;
	height: 100vh;
}

.greetingText{
	height: 600px;
	width: 600px;
	padding: 5px;
	margin-left: 4vw;
	font-weight: 100;
}

.greetingText h1{
	font-weight: 600;
	font-size: 75px;
	animation: fadeIn 2s forwards;
}

.greetingText p, .greetingText button{
	opacity: 0;
	animation: fadeIn 2s forwards;
	animation-delay: 1s;
}

.scrollDownButton{
	border-radius: 50px;
	width: 100px;	
}

.section2{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: rgb(226, 210, 188);
	
}
.subInfoBox{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: 70vw;
	margin-top: 20px;
	box-shadow: 0 5px 5px 2px;
	
}

#subInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 350px
}

#subInfo img{
	height: 75px;
	width: auto;
}

.shortIntro{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
	height: 95vh;
	width: 95vw;
	box-shadow: 0 5px 5px 2px;
}

.introContainer{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	
}

.introContainer .introColumn{
	margin: 15px;
	height: 95%;
	width: 90%;
}

.leftColumn img{
	height: auto;
	width: 100%;
	border-radius: 15px;
}

.rightColumn{
	text-align: center;
	padding: 10px;
}

.CTA{
	height: 175px;
	box-shadow: inset 0 0 5px 2px;
}

@keyframes fadeIn{
	0%{
		transform: translateX(-45px);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}



























/* Sticky Navbar */
.navbar-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	animation: slideDown 0.5s;
}
.navbar-fixed {
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-hidden {
	position: fixed;
	top: 0;
	width: 100%;
	animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100%);
	}
}
